$margin-medium: 20px

.aboutHeaderTitle
  margin-left: $margin-medium
.aboutFont
  font-family: 'Roboto', sans-serif

@media screen and (min-width: 426px) and (max-width: 1024px)
  .aboutFont
    margin-right: $margin-medium

@media screen and (max-width: 425px)
  .aboutHeaderTitle 
    font-size: 25px
    margin-right: $margin-medium