.contactFont {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
}

.contactTitle {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 40px;
}

@media screen and (max-width: 425px) {
  .contactTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
  }
}