$margin-medium: 20px
$pic-percent-small: 60%

#homepageContainer
  display: flex
  flex-direction: row
  margin: $margin-medium
#homepageHHPic
  border: solid
  border-color: black
  margin: $margin-medium
#homepageIntroTitle 
  font-size: 50px
  letter-spacing: 1px
  margin: $margin-medium
#homepageTextBody
  font-family: 'Roboto', sans-serif

@media screen and (min-width: 426px) and (max-width: 1024px)
  #homepageContainer 
    flex-direction: column
  #homepageHHPic 
    align-self: center
  #homepageIntroTitle 
    font-size: 30px
    margin: 0px
    text-align: center
  #homepageTextBody
    margin-top: $margin-medium

@media screen and (max-width: 425px)
  #homepageContainer 
    flex-direction: column
  #homepageHHPic
    align-self: center
    height: $pic-percent-small
    margin: 0px
    width: $pic-percent-small
  #homepageIntroTitle
    font-size: 22px
    margin: 0px
    text-align: center
  #homepageTextBody 
    margin-top: $margin-medium