$margin-large: 40px
$margin-medium: 20px
$margin-medlarge: 30px
$margin-smallmed: 15px
$margin-xsmall: 5px
$margin-xlarge: 60px

a:active
  text-decoration: underline  
a:hover 
  text-decoration: underline
a:link 
  text-decoration: none
a:visited 
  text-decoration: none
li
  margin-bottom: $margin-xsmall

.projectBody
  font-size: 20px
  margin-left: $margin-large
.projectBodyImageContainer
  align-items: center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: $margin-large
  margin-right: $margin-large
.projectImage
  border: solid
  border-color: black
  margin-bottom: $margin-medium
  margin-top: $margin-medium
.projectImageColumn
  align-items: center
  display: flex
  flex-direction: column
.projectInfo
  margin-bottom: $margin-medlarge
#projectPageStyle
  font-family: 'Roboto', sans-serif
  margin-left: $margin-medium
  margin-right: $margin-medium
.projectTitle 
  margin-left: $margin-medium
.yearTitle
  margin-left: 0px

@media screen and (min-width: 426px) and (max-width: 1024px)
  .projectBodyImageContainer
    margin-right: 0px
  .projectImage
    margin-left: auto
    margin-right: auto

@media screen and (max-width: 425px)
  .projectBody
    font-size: 15px
    margin-left: 0px
    margin-right: $margin-smallmed
  .projectBodyImageContainer
    flex-direction: column
    margin-right: 0px
  #projectPageStyle
    margin-left: 0px
    margin-right: 0px
  .projectImage250px
    height: 250px
    width: 250px
  .projectImage80Percent
    height: 80%
    width: 80%
  .projectTitle
    font-size: 20px
    margin-left: $margin-medium
    margin-right: $margin-medium
  .yearTitle 
    font-size: 25px
    margin-left: $margin-medium
    margin-right: $margin-medium