$margin-xlarge: 60px
$margin-large: 40px
$margin-medlarge: 30px
$margin-medium: 20px
$margin-smallmed: 15px
$margin-xsmall: 5px
  
a:link 
  text-decoration: none
a:visited 
  text-decoration: none
a:hover 
  text-decoration: underline
a:active
  text-decoration: underline
li
  margin-bottom: $margin-xsmall
.projectBody 
  margin-left: $margin-large
  font-size: 20px
#projectPageStyle
  font-family: 'Roboto', sans-serif
  margin-left: $margin-medium
  margin-right: $margin-medium
.projectInfo
  margin-bottom: $margin-medlarge
.projectTitle 
  margin-left: $margin-medium
.yearTitle
  margin-left: 0px
.projectBodyImageContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-right: $margin-large
  justify-content: space-between
  align-items: center
  margin-top: $margin-large
  margin-bottom: $margin-large
.projectImage
  border: solid
  border-color: black
  margin-top: $margin-medium
  margin-bottom: $margin-medium

@media screen and (min-width: 426px) and (max-width: 1024px)
  .projectBodyImageContainer
    margin-right: 0px
  .projectImage
    margin-left: auto
    margin-right: auto

@media screen and (max-width: 425px)
  .projectBody
    margin-left: 0px
    font-size: 15px
    margin-right: $margin-smallmed
  #projectPageStyle
    margin-left: 0px
    margin-right: 0px
  .projectTitle
    margin-left: $margin-medium
    margin-right: $margin-medium
    font-size: 20px
  .yearTitle 
    font-size: 25px
    margin-left: $margin-medium
    margin-right: $margin-medium
  .projectBodyImageContainer
    flex-direction: column
    margin-right: 0px
  .projectImage250px
    width: 250px
    height: 250px

