.customizeNavBar {
  min-height: 0px;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  padding-right: 24px;
  background: #F0FFFF;
  border-bottom-style: solid;
  border-color: black;
  align-items: center;
}
.navBarHHLogo {
  width: 64px;
  height: 64px;
}
.navButtonBar {
  margin-left: auto;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .customizeNavBar {
    min-height: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}
  .navButtonBar {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .customizeNavBar {
    min-height: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navButtonBar {
    margin-left: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}