.customizeNavBar {
  align-items: center;
  background: #F0FFFF;
  border-bottom-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  min-height: 0px;
  padding-left: 25px;
  padding-right: 25px;
}
.navBarHHLogo {
  height: 64px;
  width: 64px;
}
.navButtonBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .customizeNavBar {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}
  .navButtonBar {
    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .customizeNavBar {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navButtonBar {
    margin: auto;
  }
}