.navBarTitle {
    color: black;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    width: fit-content;
}
.navButtonBar {
    margin-left: auto;
}
.tabsSize {
    font-size: 100px;
}
.spacers {
    padding-right: 10px;
}
.customizeNavBar {
    min-height: 0px;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
    background: white;
}
.navBarButtonFormat {
  color:black;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  margin-top: 12px;
  letter-spacing: 1px;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .navBarTitle {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 30px;
    align-self: center;
  }
  .navButtonBar {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
  }
  .customizeNavBar {
      min-height: 0px;
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media screen and (max-width: 425px) {
  .navBarTitle {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    align-self: center;
  }
  .navButtonBar {
    margin-left: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .customizeNavBar {
    min-height: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
}